<h3>My Class</h3>

<div class="image">
  <img src="/assets/boy-reading.gif" id="boy">
</div>

<div class="button_wrapper">
  <h4><button class="btn btn-lg"><%= link_to "Add a New Student", new_student_path %></button></h4>
</div>

<div class="wrapper">
  <% @students.each do |student| %>
    <%= link_to (student_logs_path(student)) do %>
      <button class="student_info btn-info"><h4><%= student.first_name%> <%= student.last_name %></h4></button>
    <% end %>
  <% end %>
</div>
