html, body, h1, h2, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #EAEAEC;
  font-family: "lato", sans-serif;
  font-weight: 100;
}

body {
  margin: 0 auto;
}

h1#logo {
  font-size: 25px;
  font-weight: 300;
  font-variant: small-caps;
  letter-spacing: 2px;
}

h2#sign_in_status {
  font-size: 15px;
  font-weight: 100;
}

ul.left {
  list-style: none;
  display: inline-block;
  text-align: left;
  width: 75%; 
}

ul.right {
  list-style: none;
  display: inline-block;
  text-align: right;
}

li {

}
