html, body, header, h1, h2, h3, ul, li, span {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #EBF6FC;
  font-family: "lato", sans-serif;
  font-weight: 100;
}

body {
  margin: 0 auto;
}

header {
  background: -webkit-linear-gradient(left, #30A1CE , #CAFFFF);
  background: -o-linear-gradient(right, #30A1CE, #CAFFFF);
  background: -moz-linear-gradient(right, #30A1CE, #CAFFFF);
  background: linear-gradient(to right, #30A1CE , #CAFFFF);
  background-color: #30A1CE;
  /*box-shadow: 0px 2px 5px gray;*/
  border-top: 20px solid #04196B;
  width: 100%;
  padding: 5px;
}

h1#logo {
  font-size: 25px;
  font-weight: 300;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 1px 0px 0px #213EAD;
}

h2#sign_in_status {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #fff;
}

ul.left {
  list-style: none;
  text-align: left;
  /*border: 1px solid black;*/
  width: 100%;
  float: left;
}

ul.right {
  list-style: none;
  /*border: 1px solid black;*/
  width: 100%;
  position: relative;
  padding-bottom: 5px;
}

h3 {
  font-size: 30px;
  color: black;
  text-align: center;
  letter-spacing: 3px;
  text-transform:  uppercase;
  font-weight: 100;
}
