/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* The styles looks really great! */

html, body, header, h1, h2, h3, h4, ul, li, a, button, div, img, dl, dt, dd {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  background-color: #C0DBF3;
}

html, body {
  font-family: "lato", sans-serif;
  font-weight: 100;
}

body {
  background-color: #EBF6FC;
  width: 75%;
  margin: 0 auto;
  min-height: 600px;
}

header {
  background: -webkit-linear-gradient(left, #30A1CE , #CAFFFF);
  background: -o-linear-gradient(right, #30A1CE, #CAFFFF);
  background: -moz-linear-gradient(right, #30A1CE, #CAFFFF);
  background: linear-gradient(to right, #30A1CE , #CAFFFF);
  background-color: #30A1CE;
  /*box-shadow: 0px 2px 5px gray;*/
  border-top: 20px solid #04196B;
  width: 100%;
  padding: 5px;
}

h1#logo {
  font-size: 30px;
  font-weight: 300;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 1px 0px 0px #213EAD;
  font-size: 3vw;
}

span.fam {
  color: orange;
}

h2 {
  display: inline-block;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #01146D;
}

a#sign_in {
  color: #D70E3A;
}

a#sign_in:hover {
  color: #FFFFFF;
}

ul.left {
  list-style: none;
  text-align: left;
  /*border: 1px solid black;*/
  width: 100%;
  float: left;
}

ul.right {
  list-style: none;
  /*border: 1px solid black;*/
  width: 100%;
  position: relative;
  padding-bottom: 5px;
}

h3 {
  font-size: 2vw;
  color: black;
  text-align: center;
  letter-spacing: 3px;
  text-transform:  uppercase;
  font-weight: 100;
  margin-top: 5px;
}

div.image {
  margin: 10px auto 5px auto;
  text-align: center;
}

img#boy {
  width: 50px;
}

.button_wrapper {
  text-align: center;
  margin-top: 10px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    background-color: #FF9C00;
    margin-bottom: 10px;
}

.btn:hover {
  background-color: #FF6D00;
}

.btn:active {
  background-color: #FF9C00;
}

.btn-info {
  background-color: rgb(152, 222, 91);
}

a:link {
  color: #01146D;
  text-decoration: none;
}

a:hover{
  font-weight: 900;
  text-shadow: 0px 0px 20px #D6D8F9;
}

a:visited{
  color: #01146D;
}

div.wrapper {
  text-align: center;
}

button.student_info {
  display: inline-block;
  margin: 5px auto;
  padding: 5px;
  width: 75%;
}

h4 {
  color: #01146D;
  margin: 20px 0px;
}

h4.nav {
  margin-left: 5px;
}

div.student_contact_info {
  width: 75%;
  margin: 30px auto;
  background-color: #fff;
  border: 1px gray solid;
  border-radius: 10px;
}

.dl-horizontal {
  padding: 10px;
}

ul.list-group {
  width: 75%;
  margin: 10px auto;
}

li.list-group-item {
  display: table-cell;
}

li.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 85%;
}

li.list-group-item:last-child {
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
}

.error {
  color: red;
  font-size: 20px;
  font-weight: bolder;
}

.form_container {
  margin-left: 20px;
  margin-top: 10px;
}

.form-control {
  width: 50%;
  font-size: 20px;
}
