html, body, header, h1, h2, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #EBF6FC;
  font-family: "lato", sans-serif;
  font-weight: 100;
}

body {
  margin: 0 auto;
}

header {
  background-color: #30A1CE;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  /*box-shadow: 0px 1px 6px gray;*/
  position: fixed;
  width: 100%;
  margin-bottom: 10px;
} 

h1#logo {
  font-size: 25px;
  font-weight: 300;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 1px 0px 0px #213EAD;
}

h2#sign_in_status {
  font-size: 15px;
  font-weight: 100;
  color: #fff;
}

ul.left {
  list-style: none;
  display: inline-block;
  text-align: left;
  width: 75%;
}

ul.right {
  list-style: none;
  display: inline-block;
  text-align: right;
}

li {
}
