/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

html, body, header, h1, h2, h3, ul, li, a, button, div, img {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #EBF6FC;
  font-family: "lato", sans-serif;
  font-weight: 100;
}

body {
  margin: 0 auto;
}

header {
  background: -webkit-linear-gradient(left, #30A1CE , #CAFFFF);
  background: -o-linear-gradient(right, #30A1CE, #CAFFFF);
  background: -moz-linear-gradient(right, #30A1CE, #CAFFFF);
  background: linear-gradient(to right, #30A1CE , #CAFFFF);
  background-color: #30A1CE;
  /*box-shadow: 0px 2px 5px gray;*/
  border-top: 20px solid #04196B;
  width: 100%;
  padding: 5px;
}

h1#logo {
  font-size: 30px;
  font-weight: 300;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 1px 0px 0px #213EAD;
}

h2#sign_in_status {
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #fff;
  margin-left: 2px;
}

ul.left {
  list-style: none;
  text-align: left;
  /*border: 1px solid black;*/
  width: 100%;
  float: left;
}

ul.right {
  list-style: none;
  /*border: 1px solid black;*/
  width: 100%;
  position: relative;
  padding-bottom: 5px;
}

h3 {
  font-size: 30px;
  color: black;
  text-align: center;
  letter-spacing: 3px;
  text-transform:  uppercase;
  font-weight: 100;
  margin-top: 5px;
}

div.image {
  margin: 10px auto 5px auto;
  text-align: center;
}

img#boy {
  width: 50px;
}

.button_wrapper {
  text-align: center;
  margin-top: 10px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    background-color: #FFB600;
    margin-bottom: 10px;
}

.btn:hover {
  background-color: #FAD16B;
}

.btn:active {
  background-color: #FF9C00;
}

a:link {
  color: #103555;
  text-decoration: none;
}

a:hover{
  color: #103555;
}

a:visited{
  color: #103555;
}

div.student_info {
  border: 1px solid orange;
  background-color: #FFFFFF;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  width: 100%;
}
